{#
Author: fpodev (fpodev@gmx.fr)
about.html.twig (c) 2020
Desc: description
Created:  2020-06-26T14:59:44.872Z
Modified: !date!
#}

{% extends "base.html.twig" %}

{% block title %} About us | {{ parent() }} {% endblock %}

{% block body %}

<img src="{{ asset('/img/stick-people-5334880_1920.png') }}" class="mt-3" alt="stick people" width=25%>
  
    <h1 class="mt-5">Construit avec <span class="text-danger display-2 "> &hearts; </span> par fpodev.</h1>

    <p><a href="{{ path('app_home') }}">Revenir à la page d'accueil</a></p>

    
{% endblock %}