{#
Author: fpodev (fpodev@gmx.fr)
home.html.twig (c) 2020
Desc: description
Created:  2020-06-26T13:58:15.820Z
Modified: !date!
#}

{% extends "base.html.twig" %}

{% block body %}
  
    <h1>Hello from Quebec!</h1>

    <p>It's currently {{ 'now'|date('h:i A', 'America/Montreal') }}.</p>


    <footer>
        <p>
           &copy; Copyright {{ 'now'|date("Y") }}
           &middot; <a href="#">About us</a>
        </p>
    </footer>
{% endblock %}